[licenses]
# See <https://choosealicense.com/appendix/>
allow = [
    "MIT",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "GPL-2.0",
    "GPL-3.0",
    "CC0-1.0",
    "Zlib",
    "MPL-2.0",
    "Unicode-3.0",
]

[bans]
multiple-versions = "warn"
wildcards = "deny"

# The `openssl` and `ring` libraries are easy to accidentally pull in, and are too annoying to
# compile on a wide range of platforms.
[[bans.deny]]
name = "openssl"
[[bans.deny]]
name = "ring"

[sources]
unknown-git = "deny"
