name: recurrent-audit

on:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'

permissions: write-all  # TODO: https://github.com/actions-rs/audit-check/issues/218

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: rustsec/audit-check@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
